<template>
  <div class="column " 
        
         draggable
         @drop="moveTaskOrColumn($event, column.tasks, columnIndex)"
         @dragover.prevent
         @dragenter.prevent
         :key="columnIndex"
         @dragstart.self="pickupColumn($event,columnIndex)">

           <div class="flex flex-col items-center font-bold ">
               {{column.name}}
           </div>

           <div class="list-reset mt-2">

               <div class="task" 
                 v-for="(task,$taskIndex) of column.tasks" 
                 draggable
                 @dragover.prevent
                 @dragenter.prevent
                 @dragstart="pickTask($event,$taskIndex,columnIndex)"
                 @click="goToTask(task)"
                 :key="$taskIndex"
                 @drop.stop="moveTaskOrColumn($event,column.tasks,columnIndex,$taskIndex)">

                   <span class="w-full flex-no-shrink font-bold ">
                       {{task.name}}
                   </span>

                    <p 
                    v-if="task.description"
                    class= " truncate w-full flex-no-shrink text-lg">
                        {{task.description}}
                    </p>
               </div>
               <input 
                type="text" 
                class="block focus:outline-none  p-2 w-full bg-transparent"
                placeholder="+ enter new task"
                @keyup.enter="addTask($event,column.tasks)">
           </div>
           
      </div>
</template>

<script>

export default {
props:{
    column:{
    type:Object,
    required:true
   },
    columnIndex:{
    type:Number,
    required:true
   },
    board:{
        type:Object,
        required:true
    }
},
methods:{
      goToTask(task){
          this.$router.push({name:'task',params:{id: task.id}}) 
            },
      
      addTask(e,tasks)  {
          this.$store.commit('CREATE_TASK',{
              name:e.target.value,
              tasks})
              e.target.value=''
      } ,
     
      pickTask(e,taskIndex,fromcolumnIndex){
         e.dataTransfer.effectAllowed='move',
         e.dataTransfer.dropEffect='move',

         e.dataTransfer.setData('from-task-index',taskIndex)
         e.dataTransfer.setData('from-column-index',fromcolumnIndex)
         e.dataTransfer.setData('type','task')
      } ,
      moveTaskOrColumn(e, toTasks, toColumnIndex,toTaskIndex){
          const type=e.dataTransfer.getData('type')

          if(type == 'task'){
              this.moveTask(e,toTasks,toTaskIndex,toTaskIndex != undefined ? toTaskIndex : toTasks.length)
          } else {
              this.moveColumn(e,toColumnIndex)
          }
      },
      moveTask(e,toTasks,toTaskIndex){
       const columnIndex= e.dataTransfer.getData('from-column-index')
       const fromTaskIndex= e.dataTransfer.getData('from-task-index')
       const fromTasks=this.board.columns[columnIndex].tasks
       
       this.$store.commit('MOVE_TASK',{
           fromTasks,
           toTasks,
           fromTaskIndex,
           toTaskIndex
       })
      },
      moveColumn(e,toColumnIndex){
       const fromColumnIndex= e.dataTransfer.getData('from-column-index')
       
       this.$store.commit('MOVE_COLUMN',{   
           
           fromColumnIndex,
           toColumnIndex
       })
      },
      pickupColumn(e,columnIndex){
        e.dataTransfer.effectAllowed='move',
        e.dataTransfer.dropEffect='move',

        e.dataTransfer.setData('from-column-index',columnIndex)
        e.dataTransfer.setData('type','column')
      }
  }  
}
</script>

<style>
.column{
    @apply bg-gray-light p-2 mx-4 mt-3 text-left shadow rounded;
    min-width:350px;
}
.task{
    @apply flex items-center flex-wrap shadow mb-2 py-2 px-2 rounded bg-white text-gray-dark no-underline;
}
</style>