
<template>
  <div class="board">
      <div class="flex flex-row items-start ">
           <board-column
            v-for="(column,$columnIndex) of board.columns" 
            :key="$columnIndex"
            :column="column"
            :columnIndex="$columnIndex"
            :board="board"
           >
           </board-column>
         
        <div class="column">
            <input 
                    type="text" 
                    class="block focus:outline-none mr-2 p-2 w-full "
                    placeholder="+ enter new column"
                    @keyup.enter="createColumn($event)">
        </div>
      </div>
      <div 
      v-if="isOpen"
      class="task-bg"
      @click.self="closeTask"
      >
        <router-view/>
      </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';

import BoardColumn from './BoardColumn.vue';

export default {
components:{BoardColumn},

computed:{
    ...mapState(['board']),
    isOpen(){
        return this.$route.name =="task"
    }
    },
  methods:{
     
      closeTask(){
            this.$router.push({name:'board'}) 
      } , 
      addTask(e,tasks)  {
          this.$store.commit('CREATE_TASK',{
              name:e.target.value,
              tasks})
              e.target.value=''
      } ,
      createColumn(e){
          this.$store.commit('CREATE_COLUMN',{
            name:e.target.value,
          })
          e.target.value=''
      },
     
  }  
}
</script>

<style>
.task{
    @apply flex items-center flex-wrap shadow mb-2 py-2 px-2 rounded bg-white text-gray-dark no-underline;
}
.column{
    @apply bg-gray-light p-2 mx-4 mt-3 text-left shadow rounded;
    min-width:350px;
}
.board{
    @apply  p-4 bg-teal-dark text-lg h-full overflow-x-auto;
    
 
}
.task-bg{
    @apply  relative flex items-center  ;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
</style>