<template>
  <div class="task-view">
    <div class="flex flex-col flex-auto items-start justify-between px-4">
      <input 
         type="text" 
         class="p-2 w-full mr-2 block text-lg font-bold" 
         :value="task.name"
         @change="UpdateTask($event,'name')"
         @keyup.enter="UpdateTask($event,'name')">
      <textarea
        class="relative w-full  focus:outline-none  bg-transparent px-2 mt-2 leading-normal border-none h-60"
        :value="task.description"
        @change="UpdateTask($event,'description')"
    />
    </div>
    

   
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
computed:{
  ...mapGetters(['getTask']),
  task(){
    return this.getTask(this.$route.params.id)
  }
},
methods:{
  UpdateTask(e,key){
    this.$store.commit('UPDATE_TASK',{
      task:this.task,
      key,
      value:e.target.value
    })
  }
}
}
</script>

<style>
.task-view{
    @apply relative flex flex-row bg-white mx-4  mx-auto py-4 text-left rounded shadow;
    width: 700px;
    
}
</style>