<template >
  <div id="app" class="bg-green-dark overflow-auto">
   <router-view></router-view>
    
  </div>
</template>

<script>


export default {
  name: 'App',
  
}
</script>

<style>
@import 'assets/styles/tailwind.postcss';

body,html{
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
.container{
  @apply mx-auto;
}
</style>
